

/* 提示信息 */

.cdl-msg {
    position: fixed;
    display: flex;
    align-items: center;
    width: 200px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ebeef5;
    right:20px;
    bottom: 50px;
    margin-left: -100px;
    transition: opacity .3s, transform .4s;
    color: #fff;
    overflow: hidden;
    padding: 11px 15px;
    z-index: 5000;
    opacity: 0;
    transform: translateY(-100%);
}
.cdl-msg p{
    margin: 0;
}

.cdl-msg.show {
    opacity: 1;
    transform: translateY(0);
}

.cdl-msg-icon {
    font-weight: 400;
    display: inline-block;
    margin-right: 15px;
}

.cdl-msg-content {
    font-size: 14px;
}

/* 成功 */

.cdl-msg.success {
    background-color: #67C23A;
    border-color: #67C23A;
}

/* 错误 */

.cdl-msg.error {
    background-color: #EF797A;
    border-color: #EF797A;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
